<section class="cart">
  <div class="cart__support">
    <app-contact-us></app-contact-us>
  </div>
  <div class="cart__details">
    <div class="promo u-md-border-bottom">
      <span class="promo__description">Enter Promotion Code or Gift Card</span>
      <div class="promo__code">
        <input type="text" />
        <button class="ui-btn u-md-margin-left">Apply</button>
      </div>
    </div>
    <ul class="cart-summary">
      <li>
        <span>Subtotal</span>
        <span>$37.00</span>
      </li>
      <li>
        <span>Promotion Code JF10 Applied</span>
        <span>-$7.00</span>
      </li>
      <li class="u-tiny-border-bottom">
        <p>
          <span>Estimated Shipping</span>
          <span>You Qualify for free shipping because your order is $50</span>
        </p>
        <span>FREE</span>
      </li>
      <li class="u-md-border-bottom">
        <p>
          <span>Estimated Total</span>
          <span>Tax Will be applied during checkout</span>
        </p>
        <span>$30</span>
      </li>
    </ul>
  </div>
</section>
