@import '../abstracts/variable';

.u-sm-margin-left {
  margin-left: 0.8rem;
}

.u-md-margin-left {
  margin-left: 1.6rem;
}

.u-lg-margin-bottom {
  margin-bottom: 3.2rem;
}
// border

.u-tiny-border-bottom {
  border-bottom: 0.1rem solid #c5c4c4;
}

.u-md-border-bottom {
  border-bottom: 0.4rem solid #c5c4c4;
}

// flex-generic-class

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.space-between-vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// color

.text-color {
  color: $color-text;
}

// padding

.md-padding-vertical {
  padding: 1.6rem 0;
}
