.u-sm-margin-left {
  margin-left: 0.8rem;
}

.u-md-margin-left {
  margin-left: 1.6rem;
}

// border

.u-tiny-border-bottom {
  border-top: 0.1rem solid #c5c4c4;
}

.u-md-border-bottom {
  border-bottom: 0.4rem solid #c5c4c4;
}
