<div class="popup" *ngIf="cartItem$ | async as item">
  <div class="edit-cart-item">
    <span class="close-btn" (click)="closePopUp$.emit(true)">X</span>
    <div class="center-flex half-width">
      <div class="item center-flex">
        <span class="item__name">
          {{ item.p_name }}
        </span>
        <span class="item__price"> ${{ item.p_price }} </span>
        <span class="item__color">
          <span class="green-box"></span>
          <span class="white-box"></span>
        </span>
        <div class="item__dropdown-btn">
          <select [(ngModel)]="quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <button class="ui-btn ui-btn__primary" (click)="updateItemQuantity(item.p_id)">Update</button>
        <span class="item__product-details">
          See product details
        </span>
      </div>
    </div>
    <div class="image-container  half-width">
      <img src="../../../../assets/images/T3.jpg" alt="" />
    </div>
  </div>
</div>
